body,h2
    margin: 0
.dib
    display: inline-block
main
    margin-top: 24px
.container
    width: 1024px
    margin: auto
    font-size: 0px
    & .content
        width: 620px
        margin: auto
        & .banner
            width: 300px
            border: 2px solid
        & .textPart
            vertical-align: top
            width: 316px
            height: 100%
            background: red
            font-size: 24px
            & .title
                color: #fff
                background: #000
                height: 52px
                line-height: 52px
                text-align: center
                font-size: 34px
                box-sizing: border-box
    & .top
        background-color: #000
        height: 72px
        line-height: 72px
        text-align: center
        & h2
            font-family: Roboto-BlackItalic
            font-size: 36px
            color: #50FF44